.parent {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.picture {
    width: 120px;
    height: 120px;
}
.city{
    font-size: 40px;
    position: relative;
    left: 10px;
}
.move {
    font-size: 13px;
    position: relative;
    bottom: 50px;
    left: 10px;
}
.data{
    width: 350px;
    height: 250px;
    border: 1px solid black;
    border-radius: 20px;
    box-shadow: 5px 5px 20px grey;
}
.form {
    display: flex;
    align-items: center;
    justify-content: center;
}
.result {
    display: flex;
    align-items: center;
    justify-content: center;
}
.form1 {
    display: inline-block;
}